.column {
  width: 400px;
  float: left;
}

img{
  height: 275px;
  width: 350px;
}

.column h3 {
  background-color: red;
  text-align: center;
  font-weight: bold;
}

.column li {
  font-style: italic;
  background-color: salmon;
  font-size: 17px;
  outline: 2px solid white;
  line-height: 30px;
}